# Mistral API Key (Required)
MISTRAL_API_KEY=your_mistral_api_key_here

# Backend Settings
BACKEND_PORT=8000
BACKEND_HOST=0.0.0.0
ROOT_PATH= # api/ for instance

# Frontend Settings (Vite defaults to 5173)
VITE_API_URL=http://localhost:8000
